body {
  background-color: bisque;
  font-family: 'Courier New', Courier, monospace;
}

a {
  text-decoration-line: none;
}

.gameCanvas {
  border: 1px solid black;
  background-color: crimson;
  width: 50%;
}

.heading {
  width: 100%;
  display: flex;
  justify-content: center;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  margin: 3rem;
}
h2{
  font-family: 'Press Start 2P', cursive;
}


#app {
  text-align: center;
  margin: 2rem auto;
}

.main-container {
  display: flex;
  justify-content: space-around;
}

.leaderboard {
  width: 20vw;
}

.player-info {
  display: flex;
  flex-direction: column;
  width: 20vw;
  min-height: 100%;
  justify-content: space-between;
}

.player-form {
  display: relative;
  bottom: 0px;
}

.form-input {
  background-color: antiquewhite;
}

.form-button {
  margin: 2rem;
  font-family: 'Courier New', Courier, monospace;
}

.form-button:hover {
  background-color: white;
}

.leaderList{
  text-decoration: none;
}

.startMenu {
  min-width: 50%;
  min-height: 50%;
  border: 5px inset;
}
